*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 25em) {
  html {
    font-size: 6%;
  }
}
@media only screen and (min-width: 25em) and (max-width: 37.5em) {
  html {
    font-size: 10%;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 50em) {
  html {
    font-size: 13%;
  }
}
@media only screen and (min-width: 50em) and (max-width: 62.5em) {
  html {
    font-size: 16%;
  }
}
@media only screen and (min-width: 62.5em) and (max-width: 75em) {
  html {
    font-size: 20%;
  }
}
@media only screen and (min-width: 75em) and (max-width: 93.75em) {
  html {
    font-size: 23%;
  }
}
@media only screen and (min-width: 93.75em) and (max-width: 118.75em) {
  html {
    font-size: 30%;
  }
}
@media only screen and (min-width: 118.75em) {
  html {
    font-size: 38%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: minmax(10rem, min-content) 180rem 0.1rem repeat(3, 1fr);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(2, [col-start] minmax(6rem, auto) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.heading-1 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4rem;
  line-height: 1;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    content: url("../img/mobile-app-faded-with-title-1.jpeg");
  }
  25% {
    opacity: 1;
    content: url("../img/mobile-app-faded-with-title-1.jpeg");
  }
  33% {
    opacity: 0;
    content: url("../img/mobile-app-faded-with-title-1.jpeg");
  }
  34% {
    opacity: 0;
    content: url("../img/api-faded-with-title-1.jpeg");
  }
  60% {
    opacity: 1;
    content: url("../img/api-faded-with-title-1.jpeg");
  }
  66% {
    opacity: 0;
    content: url("../img/api-faded-with-title-1.jpeg");
  }
  67% {
    opacity: 0;
    content: url("../img/blockchain-faded-with-title-1.jpeg");
  }
  100% {
    opacity: 1;
    content: url("../img/blockchain-faded-with-title-1.jpeg");
  }
}
.header {
  background-color: rgba(255, 255, 255, 0.7);
  grid-column: 1/-1;
  position: sticky;
  top: 0;
  height: 14rem;
  z-index: 20;
}
.header__narrow {
  height: 10rem;
  top: 0;
}

.nav {
  list-style: none;
  cursor: pointer;
  font-size: 5rem;
  font-weight: 900;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-align: center;
  align-items: center;
}
.nav__item {
  color: #000;
}
.nav__item:hover {
  color: rgb(200, 0, 0);
}
.nav__item:active, .nav__item:focus {
  outline: none;
  transform: translateY(1px);
}
.nav__item--1 {
  grid-column: 1/3;
  font-size: 8rem;
}
.nav__item-logo {
  text-shadow: 0.6rem 0.8rem 1rem rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
}
.nav__item-logo--1st {
  color: red;
}
.nav__item-logo--2nd {
  color: #000;
}
.nav__item-button {
  background-color: red;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  width: 80%;
  border-radius: 2rem;
  transition: transform 0.1s;
}
.nav__item-button:hover {
  background-color: rgb(200, 0, 0);
}
.nav__item-button:active, .nav__item-button:focus {
  transform: translateY(2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.concepts {
  grid-row: 2/4;
  grid-column: 1/-1;
}
.concepts__image {
  z-index: -1;
  width: 100%;
  position: absolute;
  animation: fadeInOut 20s ease-in-out infinite;
}

.services {
  background-color: yellowgreen;
  grid-column: center-start/center-end;
  font-size: 20rem;
  width: 100%;
}

.blog {
  background-color: yellow;
  grid-column: 1/-1;
  grid-row: 5/6;
  font-size: 10rem;
}

.footer {
  background-color: aqua;
  grid-column: 1/-1;
  grid-row: 6/7;
  font-size: 10rem;
}

/*# sourceMappingURL=style.css.map */
