// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-red-dark-hover: #c80000;

$color-white: #fff;
$color-black: #000;
$color-red: red;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-secondray: "Lucida Sans", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-xxxlarge: 118.75em; // 1900px 1900/16=118.75,  16 is the default browser font size
$bp-xxlarge: 93.75em; // 1500px 1500/16=93.75
$bp-xlarge: 75em; // 1200px 1200/16=75
$bp-large: 62.5em; // 1000px 1000/16=62.5
$bp-medium: 50em; // 800px; 800/16=50
$bp-small: 37.5em; // 600px; 600/16=32.5
$bp-xsmall: 25em; // 400px; 400/16=25

// Image Paths
$img-url-1: "../img/mobile-app-faded-with-title-1.jpeg";
$img-url-2: "../img/api-faded-with-title-1.jpeg";
$img-url-3: "../img/blockchain-faded-with-title-1.jpeg";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  font-size: 30%;

  @media only screen and (max-width: $bp-xlarge) {
    font-size: 20%;
  }

  // // < 400
  // @media only screen and (max-width: $bp-xsmall) {
  //   // font-size: 6%;
  //   font-size: 7.8%;
  // }
  // // 400 - 600
  // @media only screen and (min-width: $bp-xsmall) and (max-width: $bp-small) {
  //   // font-size: 10%;
  //   font-size: 11.8%;
  // }
  // // 600 - 800
  // @media only screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  //   // font-size: 13%;
  //   font-size: 15.6%;
  // }
  // //800 - 1000
  // @media only screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  //   // font-size: 16%;
  //   font-size: 19.5%;
  // }
  // // 1000 - 1200
  // @media only screen and (min-width: $bp-large) and (max-width: $bp-xlarge) {
  //   // font-size: 20%;
  //   font-size: 23.3%;
  // }
  // // 1200 - 1500
  // @media only screen and (min-width: $bp-xlarge) and (max-width: $bp-xxlarge) {
  //   // font-size: 23%;
  //   font-size: 29.1%;
  // }
  // // 1500 - 1900
  // @media only screen and (min-width: $bp-xxlarge) and (max-width: $bp-xxxlarge) {
  //   // font-size: 30%;
  //   font-size: 37.4%;
  // }
  // // < 1900
  // @media only screen and (min-width: $bp-xxxlarge) {
  //   // font-size: 38%;
  //   font-size: 48.8%;
  // }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(2, [col-start] minmax(60rem, auto) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
}
