.concepts {
  grid-row: 2 / 4;
  grid-column: 1 / -1;

  &__image {
    z-index: -1;
    width: 100%;
    position: absolute;

    // Animation order: name, duration, timing-function, delay, iteration-count
    // animation: fadeInOut forwards;
    animation: fadeInOut 20s ease-in-out infinite;

    // @media only screen and (max-width: $bp-xsmall) {
    //   content: url($img-url-3);
    //   // width: 100%;
    //   position: relative;
    // }
  }

  // &__header-box {
  //   grid-row: 2/3;
  //   grid-column: 2/5;
  //   background-color: $color-black;
  //   opacity: 0.5;
  //   z-index: 1;

  //   width: 40rem;
  //   height: 60%;
  // }

  // &__header-text {
  //   grid-row: 2/3;
  //   grid-column: 2/4;
  //   color: $color-white;
  //   opacity: 1;
  //   z-index: 2;

  //   padding: 3.5rem 5rem;
  //   white-space: nowrap;
  // }
}
