.header {
  background-color: rgba(255, 255, 255, 0.7);
  grid-column: 1 / -1;
  position: sticky;
  top: 0;
  height: 14rem;
  z-index: 20;

  &__narrow {
    height: 10rem;
    top: 0;
  }
}

.nav {
  list-style: none;
  cursor: pointer;
  font-size: 5rem;
  font-weight: 900;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  text-align: center;
  align-items: center;

  &__item {
    color: $color-black;

    &:hover {
      color: rgba(200, 0, 0, 1);
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(1px);
    }

    &--1 {
      grid-column: 1/3;
      font-size: 8rem;
    }

    &-logo {
      text-shadow: 0.6rem 0.8rem 1rem rgba($color-black, 0.6);

      display: flex;
      justify-content: center;

      &--1st {
        color: $color-red;
      }

      &--2nd {
        color: $color-black;
      }
    }
    &-button {
      background-color: $color-red;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      width: 80%;
      border-radius: 2rem;
      transition: transform 0.1s;

      &:hover {
        background-color: rgba(200, 0, 0, 1);
      }

      &:active,
      &:focus {
        transform: translateY(2px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      }
    }
  }
}
